.row
  .col-lg-8
    .ibox.float-e-margins
      .ibox-title
        %h3
          Clients

      .ibox-content
        .row
          %h4
            Client Invite Link
            %small Share with clients to view their showings
          %h5
            = link_to invite_url(@agent), invite_path(@agent)
        .row
          %ul
            - @clients.each do |client|
              %li
                %h2= link_to client.full_name, user_showing_trackings_path(client)
