.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-7
      .ibox.float-e-margins
        .ibox-title
          %h3
            Sign Up
        .ibox-content
          .row
            .col-sm-10
              -# %h3.m-t-none.m-b Create a Contact
              %p Captivate is invite only. Make sure your agent has added you up already.
              = form_for @contact, url: email_lookup_contacts_path do |f|
                .form-group
                  = f.label :email, "Email"
                  = f.text_field :email, class: "form-control", placeholder: "jburly@gmail.com"
                .form-group
                  = f.submit "Looku Up Address", class: "btn btn-primary"
