.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-7
      .ibox.float-e-margins
        .ibox-title
          %h3
            = @contact.name
        .ibox-content
          %h4
            Showings
          %p
            = link_to "Track A Showing", new_contact_showing_tracking_path(@contact), class: "btn btn-outline btn-primary"
            = link_to "Past Showings", contact_showing_trackings_path(@contact), class: "btn btn-outline btn-success"
          %h4
            Profile
          %p
            = link_to "Update", "#", class: "btn btn-outline btn-primary"
    
          -# .row
            -# .col-sm-10
              -# %h3.m-t-none.m-b Create a Contact
              -# %p Sign in today for more expirience.
