.wrapper.wrapper-content.animated.fadeInRight
  .row
    .ibox.float-e-margins
      .ibox-title
        %h5 Benefits for owning a home
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
      .ibox-content.no-padding
        %ul.list-group
          %li.list-group-item
            %p
              There are significant benefits from owning a home. It was discovered that the largest growth in wealth in history was tied to the building of wealth through property and more specifically, the home. If you are a first time homeowner, building equity in the home is essential to building future wealth.
          %li.list-group-item
            %p
              %strong Financial asset building
            %p
              %em.text-main Building Equity
              %br
              What does it mean to build wealth? Building equity is a form of wealth, building equity is the case of owning an asset that has future value. When you rent, it is an expense that does not lead to further ownership of the apartment. Payments for a home lead to ownership of the home over the long term.
            %p
              %em.text-main Using Tax Benefits
              %br
              In the US, we have specific laws that make it advantageous to have a home. These laws allow taxable income to be reduced by the amount of interest paid on the home loan. More of this will be discussed in the financial sections.
            %p
              %em.text-main Profit Capture
              %br
              In the US, the profits from the sale of the home can avoid capital gains tax because the current rules state that the first $250K of profits is not taxed if you are single and the $500K of profits cannot be taxed if you are married.
            %p
              %em.text-main Risks
              %br
              Purchasing a home is an investment, and with some investments there are risks. There is a risk that the investment, in this case the home, does not increase in value and therefore the equity built up maintains value, but does not increase
          %li.list-group-item
            %p
              %strong Flexibility & Customization
            %p
              Owning your home can be a boon for decorating, building craft projects, and customizing to meet your needs. This is an advantage of owning that can really make homes feel like home.
          %li.list-group-item
            %p
              %strong Community establishment
            %p
              Homeowners are more likely to build stronger relationships with other homeowners in their area. Having ownership creates the opportunity to participate in local zoning discussions, neighborhood improvements, and plan parties with local neighbors.

      .ibox-footer.text-center
        -# We should do dynamic pagination along with active page highlighting
        .btn-group
          = link_to "#", class: "btn btn-success disabled finance-footer-button" do
            %i.fa.fa-chevron-left
            Previous
          = link_to topic_2_finance_pages_path, class: "btn btn-success finance-footer-button" do
            Next
            %i.fa.fa-chevron-right
