.wrapper.wrapper-content.animated.fadeInRight
  .row
    .ibox.float-e-margins
      .ibox-title
        %h5 Mortgage Consultants & Brokers
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
      .ibox-content.no-padding
        %ul.list-group
          %li.list-group-item
            %p
              %strong Mortgage consultants
            %p
              Mortgage consultants, also known as mortgage brokers, can be guides for the process and seek out additional options. The advantage of the mortgage broker is that they are looking for the best option from the lenders based on your personal situation.
            %p
              Additionally, the mortgage broker is assisting during the process with questions and has an incentive to find the best loan and ensure the information is clear and objective. During the loan application process, your mortgage consultant/broker is there to guide you along the way.
            %p
              It’s good to ask and understand how the mortgage broker is paid and understand who their top lenders are and why.
            %p
              Additional questions will be covered in the sections during the mortgage section.

      .ibox-footer.text-center
        -# We should do dynamic pagination along with active page highlighting
        .btn-group
          = link_to topic_3_finance_pages_path, class: "btn btn-success finance-footer-button" do
            %i.fa.fa-chevron-left
            Previous
          = link_to topic_5_finance_pages_path, class: "btn btn-success finance-footer-button" do
            Next
            %i.fa.fa-chevron-right
