.wrapper.wrapper-content.animated.fadeInRight
  .row
    .ibox.float-e-margins
      .ibox-title
        %h5 Qualifications
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
      .ibox-content.no-padding
        %ul.list-group
          %li.list-group-item
            %p
              %strong Pre-Qualifications
            %p
              Getting pre-qualified is the initial step in understanding what types of homes and what price you can afford for a home. This step is pretty simple and can be done with the lender (bank), online or over the phone. Pre-qualification is looking for the following:
              %ul
                %li Income
                %li Debt
                %li Assets
            %p
              The caveat of pre-qualification is that it is not a thorough investigation of how much you can afford and what you can afford. It is a general guideline. It is suggested that one continue with pre-approval because this is required during the home buying process and will avert many headaches down the road for you and the agent.

          %li.list-group-item
            %p
              %strong Pre-Approvals
            %p
              The pre-approval is more important and carries more weight than the pre-qualification. The pre-approval requires a full mortgage application to be completed, this includes an application fee, credit check, and in-depth look at the financial background.
            %p
              This step also provides the opportunity to see what rates and amounts of mortgages that can be afforded. This information gives the agent and yourself the right guidance for home searching.
            %p
              The advantages of being pre-approved are quite evident, it allows the lender to make a faster decision on the home mortgage application. In addition, the pre-approval amounts direct the search for a home and ensure that homes can be afforded. No one wants to fall in love with a home that in the end, cannot be afforded.
            %p
              Having the pre-approval allows the bank to make a loan commitment on a specific home, one that has been appraised and evaluated by the bank. This happens during the offer process, which is covered later.
          %li.list-group-item
            %p
              %strong Credit
            %p
              %em.text-main Credit history impacts loans
              %br
              It is important to ensure your credit is improved as much as possible as it will be reviewed during the pre-approval process. Moreover, one way to check the credit score is through the credit report and other site can offer ways of improving the credit score. Credit Karma namely.
          %li.list-group-item
            %p
              %strong Debt to Income
            %p
              %em.text-main Non-housing loans
              %br
              Debt to income is exactly how it sounds, it measures your debt payments versus your pre-tax income payment. This ratio informs the lender about your current payment ability.
            %p
              The debt payments are the major portion of the calculation, these include car payments, education loan payments, and any credit card payments that are made monthly.
            %p
              Gross monthly income in the pre-tax income that you earn each month. The gross income is measured because it makes it easier for the banks to evaluate your ratios.
            %p
              The ratios are calculated as follows: Gross Income is $1,000 per month and the monthly debt payments are $300 for loans, $200 for credit cards, thereby creating a debt to income ratio of $500 (debt) / $1,000 (income) = .50 (50%) ratio
            %p
              Mortgage lenders are looking for lower Debt to Income (DTI) ratios as this shows that the one receiving the loan is capable of paying back the loan.
          %li.list-group-item
            %p
              %strong Housing to Income
            %p
              %em.text-main Housing Spend
              %br
              The housing payment to income ratio is as it sounds, the total housing payment divided by the total gross income of the borrower. This is measuring only the housing payment, which includes the mortgage, insurance, taxes and other costs.
            %p
              If the total housing payment is $1000 (mortgage) + $300 (insurance) + $200 (taxes) = a total housing payment of $1500.
            %p
              The gross income is $5000 and therefore the Housing to Income ratio is $1500 / $5000 = 0.30 (30%).
          %li.list-group-item
            %p
              %strong Down payments
            %p
              %em.text-main Down payments reduce loans costs
              %br
              Each lender has different programs and each program has different loan rules. Overall, the impact of having a down payment is felt on the mortgage rate. The larger the down payment the larger the impact on the mortgage rate.
            %p
              The basics, by lowering the overall mortgage on the home, the bank has less risk, with less risk, there is less reason to have a higher rate, therefore, the rate on the mortgage reduces.
            %p
              Having a larger down payment can also increase the likelihood of the mortgage loan being approved by the lender.
            %p
              Typically, down payments are between 5 and 20 percent in cash. If the 20% is not met, then mortgage insurance is built into the mortgage payments.
            %p
              There are specific programs for lower down payments, that include Federal Housing Authority (FHA) and Veterans Affairs (VA).
          %li.list-group-item
            %p
              %strong Paperwork Needed
            %p
              These are some of the required documents for the lender
              %ul
                %li Proof of Income
                %li Proof of Bank Statements
                %li Proof of Expenses
      .ibox-footer.text-center
        -# We should do dynamic pagination along with active page highlighting
        .btn-group
          = link_to topic_1_finance_pages_path, class: "btn btn-success finance-footer-button" do
            %i.fa.fa-chevron-left
            Previous
          = link_to topic_3_finance_pages_path, class: "btn btn-success finance-footer-button" do
            Next
            %i.fa.fa-chevron-right
