.wrapper.wrapper-content.animated.fadeInRight
  .row
    .ibox.float-e-margins
      .ibox-title
        %h5 Realtor Advantage
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
      .ibox-content.no-padding
        %ul.list-group
          %li.list-group-item
            %p
              %strong Realtor is your expert
            %p
              Realtors have local expertise, they are known in the market and have the experience of buying and selling homes. There are caveats during the process that are important to understand, having someone in your corner is necessary to avoid the mistakes and improve the probability of finding the right home.
            %p
              Using an agent that you trust is important as well. Look for an agent that has had success in the markets you seek a home and as they provide education along with guidance for finding the best home for you.

          %li.list-group-item
            %p
              %strong Inside Knowledge
            %p
              There are pieces of information about the market that agents know, which cannot be found on any website or personal search. This is the advantage the agent has in a market that is powerful and can enable the best navigation of the market to ensure the house is acquired.
            %p
              Real estate is still a relationship based interaction and agents talk to each other. This is the inside knowledge that is shared, your agent can know about the backstory on sold houses, find houses that haven’t hit the market yet and how best to make offers on the houses.

        -# We should do dynamic pagination along with active page highlighting
      .ibox-footer.text-center
        .btn-group
          = link_to topic_2_finance_pages_path, class: "btn btn-success finance-footer-button" do
            %i.fa.fa-chevron-left
            Previous
          = link_to topic_4_finance_pages_path, class: "btn btn-success finance-footer-button" do
            Next
            %i.fa.fa-chevron-right
